/* Basic resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fd790d;
  padding: 10px 20px;
  color: black;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  padding: 12px 16px;
}

.nav-links li a:hover {
  background-color: #444;
  border-radius: 0px;
  color: white;
}

/* Responsive settings */
.menu-icon {
  display: none;
  font-size: 3em;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none;
    background-color: #0d6efd;
  }

  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
.dropdown {
      position: none;
    }

    .dropdown .dropbtn {
      background: none;
      border: none;
      color: black;
      padding: 14px 16px;
      font-size: 16px;
      cursor: pointer;
      
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fd790d;
      min-width: 160px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.15);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      background-color: #444;
    }
section .card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;

}
.card {
      width: 100%;
      max-width: 300px;
      margin: auto;
      border: 1px solid #ccc;
      border-radius: 8px;
      /* overflow: hidden; */
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      text-align: center;
      font-family: Arial, sans-serif;
    }

    .card img {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: flex;
    }

    .card button {
      background-color: #fd790d;
      color: white;
      border: none;
      padding: 12px;
      width: 100%;
      font-size: 16px;
      cursor: pointer;
    }

    .card button:hover {
      background-color: #984501;
    }
